.narrative-col{
    /* grid-column: 1 / 3 ! important; */
    background-color: #1A9DD1;
}

.cr-hl{
  background-color: #FFF1D6;
}

.cell-output-stderr{
  visibility: collapse;
}

blockquote p {
  color: antiquewhite;
}

.sticky-col-stack {
      container-name: sticks;
      container-type: size;
}

@media (min-width: 576px) {
  .sticky-col-stack .html-widget {
    width: 100cqw !important;
    height: 100cqh !important;
  }
  
}

@media (max-width: 575.98px) {

  .sticky-col-stack .html-widget {
    width: 90cqw !important;
    height: 75cqh !important;
  }
  
  
  
}


